<h1>Showing selected merchant</h1> 

<p>
  Name: <%= @merchant.name %>
</p>

<p>
  Description: <%= @merchant.description %>
</p>

<%= link_to "Edit Merchant", edit_merchant_path(@merchant) %> |
<%= link_to "Back to merchants listing", merchants_path %>